# DAY-2

In [ ]:
age=18
print("My age is: ",age)

In [5]:
print("my age is:{age}")

my age is:{age}

In [4]:
# f string is used  
print(f"my age is:{age}")

my age is:18

In [6]:
# format way
name="prem"
age=18
print("my name is {} and age is {}".format(name,age))

my name is prem and age is 18

In [7]:
# placeholder
print("my name is {fname} and age is {fage}".format(fage=age,fname=name))

my name is prem and age is 18

In [9]:
name="prem"
age=18
degree="B TECH"

print("may age is {} and pursuing my {} with name of {}".format(age,degree,name))

may age is 18 and i have completed my B TECH with name of prem

In [10]:
#f string method
print(f"may age is {age} and pursuing my {degree} with name of {name}")

may age is 18 and pursuing my B TECH with name of prem

# Control Flow
## Decision Making Statements
* it is a kind of making decision

In [11]:
age=18
if age>=18:
    print("you can vote")
else:
    print("you can not vote")

you can vote

### input

In [19]:
name=input("enter name ")

enter name prem

In [18]:
age=int(input("enter age "))

enter age 18

In [17]:
#task
## take input age
## check age is greater or lesser than 18 
## if age >=18 and age<=45 display to young blood

age=int(input("enter age: "))

if age>=18 and age<=45:
    print("young blood ")
else:
    print("not young")

enter age: 17
not young

In [24]:
## account money=input
##product>1000 20% off
#print the product price after discount
##product<=1000 30% off

price=int(input("enter money: "))

if price>1000:
    print("price is {} ".format((price*80)/100))
    
else:
    print("price is {} ".format((price*70)/100))

enter money: 5000
price is 4000.0

In [30]:
#assign2

price=int(input("enter money: "))

if price>3000:
    print("price is {} ".format((price*80)/100))
    
elif price>=2000 and price<3000:
    if price==2999:
        print("congrats you will get gift")
    print("price is {} ".format((price*70)/100)) # .format method

elif price>=1000 and price<=2000:
    print(f"price is {price*0.6}") # f string method
    
else:
    print("drink tea")

enter money: 2999
congrats you will get gift
price is 2099.3

In [31]:
## single statement

val=int(input("enter number"))

if val==999:print("val is 999")
else:print("go home")

enter number500
go home

## LOOPS
### for,while,nested

#### while loop

In [35]:
# while Loop
join_age=20
while join_age<=60:
    print(join_age)
    join_age+=1
    
else:
    print("time for retirement")

20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
time for retirement

In [38]:
#atm machine with 100rs
tamount=1000;

while tamount!=0:
    print(tamount)
    tamount-=100
    

else:
    print("empty")

1000
900
800
700
600
500
400
300
200
100
empty

#### for loop

In [43]:
lst=["prem",1,2,3,"apple","banana"]

In [44]:
type(lst)

list

In [45]:
lst

['prem', 1, 2, 3, 'apple', 'banana']

In [46]:
for x in lst:
    print(x)

prem
1
2
3
apple
banana

In [47]:
fruitlst=["mango","cherry","apple"]

In [53]:
for a in fruitlst:
    print(a)
    if a=="cherry":
        print(f" fruit is {a}")
        break

mango
cherry
 fruit is cherry

In [56]:
# print consist \n(new line) default
fruit='mango'
for x in fruit:
    print(x)

m a n g o

In [55]:
fruit[2]

'n'

In [57]:
# if we want o/p in single line
fruit='mango'
for x in fruit:
    print(x,end=" ")

m a n g o

### Nested loop

In [58]:
#range function exclude last number
# range(start,stop,stepsize)
for i in range(1,6):
    print(i)

1
2
3
4
5

In [59]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

##### pattern question

In [62]:
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

### Break and continue

In [67]:
fruitlst=["mango","cherry","apple","banana"]

In [69]:
for i in fruitlst:
    if i=="apple":
        print("fruit is apple")
        break
    print(i)

mango
cherry
fruit is apple

In [70]:
# pass:not do anything
for i in fruitlst:
    if i=="apple":
        print("fruit is apple")
        pass
    print(i)

mango
cherry
fruit is apple
apple
banana

In [71]:
# continue: skip one iteration
for i in fruitlst:
    if i=="apple":
        print("fruit is apple")
        continue
    print(i)

mango
cherry
fruit is apple
banana

### Diamond pattern

In [133]:
n=7

for i in range(0,n):
    for k in range(0,n-i):
        print(" ",end=" ")
    for j in range(0,i+1):
        print("*",end=" ")
    for l in range(1,i+1):
        print("*",end=" ")
    print("\r")
    
for m in range(0,n):
    for o in range(0,m+1):
        print(" ",end=" ")
    for p in range(0,n-m):
        print("*",end=" ")
    for q in range(1,n-m):
        print("*",end=" ")
    print("\r")

              *
            * * *
          * * * * *
        * * * * * * *
      * * * * * * * * *
    * * * * * * * * * * *
  * * * * * * * * * * * * *
  * * * * * * * * * * * * *
    * * * * * * * * * * *
      * * * * * * * * *
        * * * * * * *
          * * * * *
            * * *
              *